<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLOZ Demo</title>
    <!-- Bootstrap CSS -->
</head>
<body>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="personName">JSON drop</label>
            <div id="file-drop-zone" class="file-drop-zone">
              Drag & Drop your JSON file here or click to select
            </div>           
                <input type="file" name="file" accept=".json">         
            <pre id="file-content" class="mt-3"></pre>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

</body>
</html>
